.primary-button {
   font-family: $mainFont;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   padding: 15px 21px;
   border-radius: $borderRadius;
   transition: $standartTrans;

   &:disabled {
      background: $bgDisabled;
   }

   &__dark {
      color: $whiteColor;
      background: $whiteColor25;
   }

   &__light {
      position: relative;
      color: $barndColorBlue;
      background: $whiteColor;
      font-size: 14px;
      line-height: 16px;

      @include media(760) {
         font-size: 20px;
         line-height: 23px;
         padding: 21px 44px;
      }

      &::after {
         opacity: 0;
         position: absolute;
         content: '';
         width: 100%;
         height: 100%;
         background: transparent;
         border-radius: $borderRadius;
         border: 1px solid $bgColorBlue;
         top: -100%;
         left: 0;
         transition: $standartTrans;
      }

      &:hover {
         color: $bgColorGray;
         background: $fontTitleColor;

         &::after {
            opacity: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
         }
      }

      &:active,
      &:focus {
         color: $barndColorBlue;
         background: $bgColorGray;
         box-shadow: 7px 11px 2px -2px rgb(255 255 255 / 15%), 0px 5px 8px 1px rgba(0, 42, 75, 0.6) inset;
      }

      &:disabled {
         opacity: .4;
      }
   }
}

.secondary-button,
.secondary-button-small {
   display: inline-block;
   font-family: $mainFont;
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   padding: 13px 22px 12px;
   background: $grayColor;
   border: $borderSecondaryBtn;
   border-radius: $headerBprderRadius;
   transition: $standartTrans;

   &:hover,
   &:focus,
   &:active {
      color: $whiteColor;
      background: rgb(66, 74, 102);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

}

.secondary-button-small {
   padding: 7px 15px 5px;
   font-size: 14px;
   line-height: 16px;
   border-radius: 12px;
   font-size: var(--typography-body2);
}

.dark-button {
   padding: 20px 41px;
   font-family: $mainFont;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   color: $whiteColor;
   background: $fontTitleColor;
   border-radius: $borderRadius;
   border: 1px solid $fontTitleColor;
   transition: $standartTrans;

   &:hover {
      box-shadow: $btnBoxShadow;
      background: $barndColorBlue;
      border: 1px solid $whiteColor;
   }

   @include media(760) {
      padding: 30px 41px;
      font-size: 24px;
      line-height: 28px;
   }

   &:disabled {
      background: $bgDisabled;
   }
}

.dark-btn-small {
   padding: 16px 0;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   color: $whiteColor;
   background: $fontTitleColor;
   border-radius: $borderRadius;
   border: 1px solid transparent;
   transition: $standartTrans;

   &:hover {
      color: $barndColorBlue;
      box-shadow: $btnBoxShadow;
      background: rgba(19, 29, 64, 0.2);
      border: 1px solid $barndColorBlue;
   }

   &:disabled {
      background: $bgDisabled;
   }
}

.popup__btn-close {
   position: absolute;
   top: 20px;
   right: 20px;
   width: 24px;
   height: 24px;
   background: transparent;

   &::before,
   &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 3px;
      background: $whiteColor;
      top: 50%;
      left: 0;
   }

   &::before {
      transform: rotate(45deg);
   }

   &::after {
      transform: rotate(135deg);
   }
}

.popup-button {
   max-width: 412px;
   width: 100%;
   padding: 18px 0;
   border-radius: $borderRadius;
   font-family: $mainFont;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: $whiteColor;
   background: $fontTitleColor;
}

.counter-btn-block {
   @include flex-column;
   gap: 6px;

   &__count,
   &__minus,
   &__plus {
      font-family: $mainFont;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $fontTextColor;
      background: transparent;
   }

   &__count {
      padding: 13px 16px;
      border-right: 0.5px solid rgb(225, 227, 233);
      border-left: 0.5px solid rgb(225, 227, 233);
   }

   &__plus {
      padding-left: 12px;
   }

   &__minus {
      padding-right: 12px;
   }

   &__span {
      font-family: $mainFont;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $fontTextColor;
   }

   &__inner {
      @include flex-row;
      justify-content: space-between;
      background: rgba(232, 232, 232, 0.55);
      width: 107px;
      height: 40px;
      border-radius: 12px;
   }
}

.burger-btn {
   position: relative;
   width: 24px;
   height: 24px;
   background: transparent;
   border: none;
   z-index: 20;
   cursor: pointer;
   display: block;

   @include media(906) {
      display: none;
   }

   & span {
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
   }

   &::before,
   &::after {
      left: 0;
      position: absolute;
      content: '';
      width: 24px;
      height: 2px;
   }

   &::before {
      top: 0;
   }

   &::after {
      bottom: 0;
   }
}

.burger-btn.white {
   & span {
      background: $barndColorBlue;
   }

   &::before,
   &::after {
      background: $barndColorBlue;
   }
}

.burger-btn.dark {
   & span {
      background: $whiteColor;
   }

   &::before,
   &::after {
      background: $whiteColor;
   }
}

.burger-btn.active {
   &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      border-left: 2px solid $fontColor;
      border-top: 2px solid $fontColor;
      transform: rotate(135deg);
      top: 7px;
      left: 5px;
   }

   &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background: $bgDisabled;
   }

   & span {
      width: 100%;
      height: 100%;
      background: transparent;
   }
}