.goods-block {
   @include flex-row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   gap: 10px;
   margin-bottom: 21px;

   @include media(600) {
      gap: 40px;
   }

   @include media(1246) {
      flex-wrap: nowrap;
      gap: 40px;
      margin-bottom: 55px;
   }
}