.item-product {
   @include flex-column;
   position: relative;
   max-width: 383px;
   width: 100%;
   padding: 8px 8px 15px;
   background: $whiteColor;
   border-radius: $borderRadius;

   &__inner-img {
      @include flex-row;
      max-width: 367px;
      width: 100%;
      max-height: 380px;
      border-radius: $borderRadius;
      background: rgba(251, 251, 251);
      margin-bottom: 15px;
   }

   &__img {
      margin: 0 auto;
      width: 80%;
      object-fit: contain;
   }

   &__content {
      padding: 0 7px;
   }

   &__title {
      font-family: $mainFont;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      color: $fontColor;
      margin-bottom: 10px; //! для каталога
   }

   &__quantity {
      position: absolute;
      width: 92px;
      height: 30px;
      background: $fontTitleColor;
      opacity: 0.25;
      border-radius: 12px;
      font-weight: 300;
      font-size: 12px;
      padding: 8px 8px 8px 0;
      top: 18px;
      right: 18px;
      text-align: center;
      color: $whiteColor;
      padding-left: 25px;
      z-index: 100;

      &::after {
         position: absolute;
         content: '';
         width: 18px;
         height: 18px;
         top: 5px;
         left: 4px;
         background: url(../images/icons/packing.svg);
      }
   }

   &__size {
      display: block;
      position: relative;
      font-family: $mainFont;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: $fontTextColor;
      margin-bottom: 26px; //было 23, изменено для главной страницы
      padding-left: 25px;

      &::before {
         position: absolute;
         content: '';
         width: 18px;
         height: 18px;
         top: -3px; //! для каталога
         left: 0;
         background: url(../images/icons/gloves.svg);
      }
   }
}