.nav-link {
   display: inline-block;
   font-family: $mainFont;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   padding: 8px 14px;
   color: $whiteColor80;

   @include media(1122) {
      padding: 13px 18px;
   }

   &:hover {
      background: $whiteColor25;
      border-radius: $borderRadius;
      animation: border 0.5s ease-in-out;
   }
}

.nav-link.dark {
   color: $brandColor;

   &:hover {
      background: $barndColorBlue;
      color: $whiteColor;
      border-radius: $borderRadius;
      animation: border 0.5s ease-in-out;
   }
}

@keyframes border {
   0% {
      border-radius: 0;
   }

   50% {
      border-radius: 0;
   }

   100% {
      border-radius: $borderRadius;
   }
}

.social-link {
   display: block;
   width: 100%;
   height: 100%;
}

.standart-link {
   position: relative;
   font-family: $otherFont;
   font-size: var(--typography-standart);
   line-height: 19px;
   text-decoration-line: underline;
   color: $barndColorBlue;
   transition: $standartTrans;

   &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      background: $fontTitleColor;
      left: -50%;
      left: 0;
      bottom: 0;
      transition: $standartTrans;
   }

   &:hover {
      color: $fontTitleColor;

      &::after {
         width: 100%;
         left: 0;
         height: 1px;
         background: $fontTitleColor;
      }
   }
}

.link-news {
   display: none;
   top: 7px;
   position: relative;
   padding-right: 28px;
   font-family: $mainFont;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: $fontTitleColor;
   background: transparent;

   &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      top: -3px;
      right: 0;
      background: url(../../images/icons/blue_ruond_arrow.svg) 50% /cover no-repeat;
      transition: $longTrans;
   }

   &:hover,
   &:focus {
      border-bottom: 1px solid $barndColorBlue;

      &::after {
         transform: rotate(175deg);
      }
   }

   @include media(600) {
      display: block;
   }
}

.link-news-item {
   position: relative;
   font-family: $mainFont;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   text-decoration-line: underline;
   color: $whiteColor;

   &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: -20px;
      right: -19px;
      transform: rotate(-90deg);
      transition: $standartTrans;
   }

   &:hover,
   &:focus {
      &::after {
         top: 2px;
         width: 15px;
         height: 15px;
         background: url(../../images/icons/gray_round_arrow.svg) center / cover;
      }
   }
}

.link-bread-crumbs {
   display: none;
   position: relative;
   font-family: $mainFont;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: $bgColorSummary;

   &:first-child {
      position: relative;
      display: inline-block;
      color: transparent;

      &::before {
         position: absolute;
         content: '';
         width: 24px;
         height: 24px;
         border-radius: 100%;
         background: url(../../images/icons/svg_round_gray_prev.svg);
      }
   }

   @include media(600) {
      display: inline-block;

      &:first-child {
         color: $fontTitleColor;

         &::before {
            display: none;
         }
      }

      &+& {
         margin-left: 12px;

         &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            top: 7px;
            left: -11px;
            background: $bgColorSummary;
            border-radius: 100%;
         }
      }
   }
}