.navigation-header {
   @include flex-row;
   align-items: center;
   gap: 0;
   right: -100%;
   width: 0;
   height: 0;
   transform: scale(0);
   overflow: auto;
   padding: 70px 10px 20px 10px;
   z-index: 10;
   transition: all 0.3s ease 0s;

   &__logo {
      width: 0;
      height: 0;
   }

   &__list {
      width: 0;
      height: 0;
   }

   &__body {
      @include flex-column;
      align-items: center;
      width: 100%;
      gap: 14px;

      @include media(910) {
         @include flex-row;
         gap: 10px;
         padding-left: 15px;
      }

      @include media(1122) {
         gap: 0;
         padding-left: 42px;
      }
   }

   &.active {
      @include flex-column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1);
      background-color: $barndColorBlue;
      z-index: 15;

      & .dark {
         color: $whiteColor;
      }

      .navigation-header__body {
         margin-bottom: 41px;
      }

      .navigation-header__logo {
         width: 138px;
         height: 44.17px;
         margin-bottom: 50px;
      }

      .navigation-header__list {
         @include flex-column;
         gap: 30px;
         width: fit-content;
         height: auto;
         margin-bottom: 35px;
      }

      .navigation-header__phone,
      .navigation-header__item {
         font-family: 'Roboto';
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         color: $whiteColor;
      }

      .navigation-header__phone {
         font-weight: 700;
      }
   }

   @include media(910) {
      transform: scale(1);
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
   }

   & .phone-block__text {
      display: block;

      @include media(910) {
         display: none
      }
   }

   // &__body {
   //    @include flex-column;
   //    align-items: center;
   //    width: 100%;
   //    gap: 14px;

   //    @include media(910) {
   //       @include flex-row;
   //       gap: 10px;
   //       padding-left: 15px;
   //    }

   //    @include media(1122) {
   //       gap: 0;
   //       padding-left: 42px;
   //    }
   // }
}