.news-page {
   max-width: 1296px;
   width: 100%;
   margin: 0 auto;
   padding: 25px 18px 0;
   background: $grayColor;

   @include media(600) {
      padding-top: 75px;
   }

   &__wrapper {
      max-width: 1184px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;

      @include media(600) {
         margin-bottom: 153px;
      }
   }

   & .header {
      margin-bottom: 15px;
   }

   &__title {
      margin-bottom: 33px;
      font-family: $mainFont;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      color: $fontColor;

      @include media(600) {
         margin-bottom: 30px;
         text-align: start;
         font-size: 32px;
         line-height: 38px;
      }
   }

   &__content {
      @include flex-row;
      max-width: 1184px;
      justify-content: center;
      flex-wrap: wrap;
      gap: 17px;

      & .news-item {
         position: relative;
         max-width: 383px;
         width: 100%;
      }

      & .news-item__content {
         position: absolute;
         bottom: 36px;

         @include media(600) {
            bottom: 34px;
         }
      }
   }

   & .news-item__img {
      border-radius: 20px;
   }

   & .form-block {
      margin-bottom: 46px;

      @include media(600) {
         margin-bottom: 100px;
      }
   }
}